 <html xmlns:th="http://www.thymeleaf.org">
 
 <head>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
 
    <title>Regus Pharma</title>
</head>
<body>



<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Regus Pharma</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      
     <!--  <li><div  sec:authentication="name"><span class="glyphicon glyphicon-user"></span>User</div></li> -->
      <li><a href="/Registeration"><span class="glyphicon glyphicon-user"></span>Register</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>User <div  sec:authentication="name"></div></a></li>
      
    </ul>
  </div>
</nav>
  
  <form class="form-horizontal" action="feedback" method="POST">
 
    <fieldset>

    <!-- Form Name -->
      <legend>please Add Feedback</legend>
      <br>
      <!-- Select Basic -->
      <!-- <div class="form-group">
        <label class="col-md-4 control-label" for="selectbasic">Choose Employee</label>
        <div class="col-md-5">
          <select name="employee" class="form-control">
           
            <option value=""></option>
           
           
          </select>
        </div>
      </div> -->
      <br>
      <!-- Textarea -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textarea">Add Feedback</label>
        <div class="col-md-12">                     
          <textarea rows="5" class="form-control" placeholder="Write Warning Here" name="textarea"></textarea>
        </div>
      </div>

      <br>
      <!-- Button (Double) -->
      <div class="form-group">
        
        <div class="col-md-8">
          <button class="btn btn-success" type="submit">Add Feedback</button>
         <a th:href="@{/BusinessHead}" class="btn btn-danger">Back</a>
        </div>
      </div>

    </fieldset>
  </form>


</body>
</html>